<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="CRRHKDWConnectionString" connectionString="Data Source=172.16.4.6;Initial Catalog=CRRHKDW;Persist Security Info=True;User ID=sa;Password=crv1234*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
